@keyframes sway {
    0%, 100%{ transform: rotate(-2deg);}
    50%{ transform: rotate(2deg); }
}

#left-tree {

    height: 100vh;
    width: 6vw;
    @apply bg-logland-brown-50;



}

#left-tree > div {

    border-radius: 50%;
    @apply bg-logland-blue-30;
    width: 12vw;
    height: 105dvh;
    transform: translate(2vw, -24dvh);

} 

#right-tree {
    height: 100%;
    width: 6vw;
    @apply bg-logland-brown-50;

}

#right-tree > div {

    border-radius: 50%;
    @apply bg-logland-blue-30;
    width: 12vw;
    height: 105dvh;
    transform: translate(-8vw, -24dvh);

} 

#tree-canopy-1-container {

    transform: translate(-18vw, -12dvh);
    position: fixed;

}

#tree-canopy-2-container {

    transform: translate(-2vw, -18dvh);
    position: fixed;
    
}

#tree-canopy-3-container {

    transform: translate(28vw, -14dvh);
    position: fixed;

}

#tree-canopy-4-container {

    transform: translate(84vw, -12dvh);
    position: fixed;

}

#tree-canopy-5-container {

    transform: translate(66vw, -18dvh);
    position: fixed;
    
}

#tree-canopy-6-container {

    transform: translate(48vw, -14dvh);
    position: fixed;

}

#tree-canopy-1 {

    animation: sway 10s infinite;
    transform-origin: -50% 0%;

    width: 36vw;
    height: 48dvh;
    border-radius: 50%;
    @apply bg-logland-green-30;

}

#tree-canopy-1-shadow {

    width: 36vw;
    height: 48dvh;
    transform: translate(-1vw, -1dvh);
    position: fixed;
    border-radius: 50%;
    /* @apply bg-green-950; */
    @apply bg-logland-green-50;

}

#tree-canopy-1-shadow-clip {

    width: inherit;
    height: inherit;
    transform: translate(-2vw, -2dvh);
    position: fixed;
    border-radius: 50%;
    /* @apply bg-green-800; */
    @apply bg-logland-green-30;

}

#tree-canopy-2 {

    animation: sway 8s infinite;
    transform-origin: -50% 0%;

    width: 36vw;
    height: 33dvh;
    border-radius: 50%;
    @apply bg-logland-green-30;

}

#tree-canopy-2-shadow {

    width: inherit;
    height: inherit;
    transform: translate(-1vw, -1dvh);
    position: fixed;
    border-radius: 50%;
    /* @apply bg-green-950; */
    @apply bg-logland-green-50;

}

#tree-canopy-2-shadow-clip {

    width: inherit;
    height: inherit;
    transform: translate(-2vw, -2dvh);
    position: fixed;
    border-radius: 50%;
    /* @apply bg-green-800; */
    @apply bg-logland-green-30;

}

#tree-canopy-3 {

    animation: sway 6s infinite;
    transform-origin: -50% 0%;

    width: 24vw;
    height: 18dvh;
    border-radius: 50%;
    /* @apply bg-green-800; */
    @apply bg-logland-green-30;

}

#tree-canopy-3-shadow {

    width: inherit;
    height: inherit;
    transform: translate(0vw, -1dvh);
    position: fixed;
    border-radius: 50%;
    /* @apply bg-green-950; */
    @apply bg-logland-green-50;

}

#tree-canopy-3-shadow-clip {

    width: inherit;
    height: inherit;
    transform: translate(1vw, -2dvh);
    position: fixed;
    border-radius: 50%;
    /* @apply bg-green-800; */
    @apply bg-logland-green-30;

}

#tree-canopy-4 {

    animation: sway 11s infinite;
    transform-origin: -50% 0%;

    width: 36vw;
    height: 48dvh;
    border-radius: 50%;
    /* @apply bg-green-800; */
    @apply bg-logland-green-30;

}

#tree-canopy-4-shadow {

    width: inherit;
    height: inherit;
    transform: translate(1vw, -1dvh);
    position: fixed;
    border-radius: 50%;
    /* @apply bg-green-950; */
    @apply bg-logland-green-50;

}

#tree-canopy-4-shadow-clip {

    width: inherit;
    height: inherit;
    transform: translate(2vw, -2dvh);
    position: fixed;
    border-radius: 50%;
    /* @apply bg-green-800; */
    @apply bg-logland-green-30;

}

#tree-canopy-5 {

    animation: sway 9s infinite;
    transform-origin: -50% 0%;

    width: 36vw;
    height: 33dvh;
    border-radius: 50%;
    /* @apply bg-green-800; */
    @apply bg-logland-green-30;

}

#tree-canopy-5-shadow {

    width: inherit;
    height: inherit;
    transform: translate(1vw, -1dvh);
    position: fixed;
    border-radius: 50%;
    /* @apply bg-green-950; */
    @apply bg-logland-green-50;

}

#tree-canopy-5-shadow-clip {

    width: inherit;
    height: inherit;
    transform: translate(0vw, -2dvh);
    position: fixed;
    border-radius: 50%;
    /* @apply bg-green-800; */
    @apply bg-logland-green-30;

}

#tree-canopy-6 {

    animation: sway 7s infinite;
    transform-origin: -50% 0%;

    width: 24vw;
    height: 18dvh;
    border-radius: 50%;
    /* @apply bg-green-800; */
    @apply bg-logland-green-30;

}

#tree-canopy-6-shadow {

    width: inherit;
    height: inherit;
    transform: translate(0vw, -1dvh);
    position: fixed;
    border-radius: 50%;
    /* @apply bg-green-950; */
    @apply bg-logland-green-50;

}

#tree-canopy-6-shadow-clip {

    width: inherit;
    height: inherit;
    transform: translate(1vw, -2dvh);
    position: fixed;
    border-radius: 50%;
    /* @apply bg-green-800; */
    @apply bg-logland-green-30;

}